{% extends 'pagina/base.html' %}
{% block conteudo %}
<div>

      <section class="p-3">
        <div class="container">
          <div class="row">
            <div class="card col-sm mb-3">
              <img style="height: 17rem;" src="https://primeentregas.com.br/Uploads/Imagens/361/fone-de-motoboy-no-barro-branco.jpg?31102023" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Delivery</h5>
                <p class="card-text">Desfrute da comodidade de ter seus pratos preferidos entregues à sua porta. Com o nosso serviço de delivery.</p>
                <a href="./cardapio/" class="btn btn-primary">Pedir</a>
              </div>
            </div>
     
            <div class="card col-sm mb-3" style=" margin-left: 10px;">
              <img style="height: 17rem;" src="https://img.freepik.com/vetores-premium/fila-de-pessoas-vista-traseira-da-fila-de-espera-homens-ou-mulheres-em-pe-na-fila-grupo-de-clientes-pessoas-na-fila-no-caixa-da-loja-ou-terminal-comunidade-estudantil-movimento-organizado-conceito-vetorial_533410-2118.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Sistema de Fila Virtual</h5>
                <p class="card-text">A fila virtual revoluciona a maneira como lidamos com esperas e otimiza a experiência do usuário, proporcionando maior comodidade e eficiência.</p>
                <a href="./fila" class="btn btn-primary">Acessar</a>
              </div>
            </div>
      
            <div class="card col-sm mb-3" style=" margin-left: 10px;">
              <img style="height: 17rem;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmYmBUVMeTVPb00y_8u2xjP2nO3jAC2b0VMtDvhA3knyawOiOyCGe0J9VMyQuUYSpIIYk&usqp=CAU" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Avaliação de Feedback</h5>
                <p class="card-text">Valorizamos sua opinião e gostaríamos de convidá-lo(a) a compartilhar seus pensamentos para que possamos continuar aprimorando nosso serviço.</p>
                <a href="./feedback" class="btn btn-primary">Realizar Feedback</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      </div>



    
    {% endblock %}
