{% extends 'pagina/base.html' %}
{% block conteudo %}



<div class="container mt-5">
    <h2>Cardápio</h2>
    <ul class="list-group">
        <li class="list-group-item text-left" style="display: flex; justify-content: space-between;">
            <span>Item 1: Pão de Sal</span>
            <span>R$ 15,00</span>
          </li>
          <li class="list-group-item text-left" style="display: flex; justify-content: space-between;">
            <span>Item 2: Pão de Banana</span>
            <span>R$ 26,99</span>
          </li>
          <li class="list-group-item text-left" style="display: flex; justify-content: space-between;">
            <span>Item 3: Pão Integral</span>
            <span>R$ 25,00</span>
          </li>
          <li class="list-group-item text-left" style="display: flex; justify-content: space-between;">
            <span>Item 4: Pão de leite</span>
            <span>R$ 6,00</span>
          </li>
          <li class="list-group-item text-left" style="display: flex; justify-content: space-between;">
            <span>Item 5: Baguete</span>
            <span>R$ 40,50</span>
          </li>
          <li class="list-group-item text-left" style="display: flex; justify-content: space-between;">
            <span>Item 6: Rolinho</span>
            <span>R$ 13,00</span>
          </li>
          <li class="list-group-item text-left" style="display: flex; justify-content: space-between;">
            <span>Item 7: Brioche</span>
            <span>R$ 5,00</span>
          </li>
          <li class="list-group-item text-left" style="display: flex; justify-content: space-between;">
            <span>Item 8: Pão Sírio</span>
            <span>R$ 14,99</span>
          </li>
    </ul>
    <br>
    
  </div>

<div class="text-center">
    <a href="../pedido" target="_blank" class="btn btn-danger">Fazer Pedido</a>
</div>
  

  

{% endblock %}   